@model dynamic

@{
    ViewBag.Title = I18N.Inventory;
    Layout = ViewBag.Layout;
}

<div class="inventory layout container">
    @RenderBody()
</div>

<script>
    loadDatepicker();
    setNumberFormat();
</script>