@using Frapid.ApplicationState.Cache
@model dynamic

@{
    ViewBag.Title = "Inventory";
    Layout = ViewBag.InventoryLayoutPath;
}
<div class="ui attached page segment" style="min-height: 100%;padding:3em;display:none;">
    <div class="ui huge header">Inventory Transfer</div>
    <div class="ui divider"></div>

    <div class="ui form">
        <div class="inline fields">
            <div class="small field">
                <label for="ValueDateTextBox">Value Date</label>
                <input id="ValueDateTextBox" class="date" type="date">
            </div>
            <div class="small field">
                <label for="BookDateTextBox">Book Date</label>
                <input id="BookDateTextBox" class="date" type="date">
            </div>
            <div class="small field">
                <label for="ReferenceNumberInputText">Ref#</label>
                <input id="ReferenceNumberInputText" maxlength="24" type="text">
            </div>
        </div>
    </div>
    <div>
        <table id="TransferGridView" class="ui table segment" style="min-width:1000px;max-width:2000px;">
            <thead>
                <tr>
                    <th style="width:150px">
                        <label for="TransactionTypeSelect">Type</label>
                    </th>
                    <th style="width:200px">
                        <label for="StoreSelect">Store</label>
                    </th>
                    <th style="width:200px">
                        <label for="ItemCodeInputText">Item Code</label>
                    </th>
                    <th>
                        <label for="ItemSelect">Item Name</label>
                    </th>
                    <th style="width:200px;">
                        <label for="UnitSelect">Unit</label>
                    </th>
                    <th style="width:100px" class="text-right">
                        <label for="QuantityInputText">Quantity</label>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="footer-row ui form">
                    <td>
                        <select class="ui fluid dropdown" id="TransactionTypeSelect">
                            <option value="Cr">OUT</option>
                            <option value="Dr">IN</option>
                        </select>
                    </td>
                    <td>
                        <select id="StoreSelect" class="ui fluid dropdown"></select>
                    </td>
                    <td>
                        <input id="ItemCodeInputText" type="text">
                    </td>
                    <td>
                        <select id="ItemSelect" class="ui fluid dropdown"></select>
                    </td>
                    <td>
                        <select id="UnitSelect" class="ui fluid dropdown"></select>
                    </td>
                    <td>
                        <input id="QuantityInputText" class="text-right integer" type="text">
                    </td>
                    <td>
                        <input id="AddButton" value="Add" class="ui small red button" type="button">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="ErrorLabel" class="big error vpad16"></div>
    <div class="ui form" style="width:290px;">
        <div class="small field">
            <label for="StatementReferenceTextArea">Statement Reference</label>
            <textarea id="StatementReferenceTextArea" rows="4"></textarea>
        </div>
        <div class="ui buttons">
            <button id="SaveButton" class="ui green button" type="button">
                Save
            </button>
            <a href="/dashboard/inventory/tasks/inventory-transfers" class="ui blue button">Back</a>            
        </div>
    </div>

    <input id="ItemIdHidden" value="" type="hidden">
</div>

<script>
    var addButton = $("#AddButton");
    var dateTextBox = $("#DateTextBox");
    var errorLabel = $("#ErrorLabel");
    var itemIdHidden = $("#ItemIdHidden");
    var itemCodeInputText = $("#ItemCodeInputText");
    var itemSelect = $("#ItemSelect");
    var quantityInputText = $("#QuantityInputText");
    var saveButton = $("#SaveButton");
    var storeSelect = $("#StoreSelect");
    var transactionTypeSelect = $("#TransactionTypeSelect");
    var transferGridView = $("#TransferGridView");
    var unitSelect = $("#UnitSelect");
    var storeServiceUrl = "/api/forms/inventory/stores/display-fields";

    var url = "";
    var data = "";

    $(document).ready(function () {
        loadStores();
        loadItems();
    });

    addButton.click(function () {
        addRow();
    });

    var addRow = function () {
        itemCodeInputText.val(itemSelect.getSelectedValue());

        var tranType = transactionTypeSelect.getSelectedValue();
        var storeName = storeSelect.getSelectedText();
        var itemCode = itemCodeInputText.val();
        var itemName = itemSelect.getSelectedText();
        var unitName = unitSelect.getSelectedText();
        var quantity = parseInt(quantityInputText.val() || 0);

        if (transactionTypeSelect.length) {
            if (window.isNullOrWhiteSpace(tranType) || tranType === "Select") {
                window.makeDirty(transactionTypeSelect);
                return;
            };
        };

        if (window.isNullOrWhiteSpace(storeName) || storeName === "Select") {
            window.makeDirty(storeSelect);
            return;
        };

        if (window.isNullOrWhiteSpace(itemCode)) {
            window.makeDirty(itemCodeInputText);
            return;
        };

        if (window.isNullOrWhiteSpace(itemName) || itemName === "Select") {
            window.makeDirty(itemSelect);
            return;
        };

        if (window.isNullOrWhiteSpace(unitName) || unitName === "Select") {
            window.makeDirty(unitSelect);
            return;
        };

        if (quantity <= 0) {
            window.makeDirty(quantityInputText);
            return;
        };

        window.removeDirty(transactionTypeSelect);
        window.removeDirty(storeSelect);
        window.removeDirty(itemCodeInputText);
        window.removeDirty(itemSelect);
        window.removeDirty(unitSelect);
        window.removeDirty(quantityInputText);

        appendToTable(tranType, storeName, itemCode, itemName, unitName, quantity);
        itemCodeInputText.val("");
        quantityInputText.val("");

        if (transactionTypeSelect.length) {
            transactionTypeSelect.focus();
            return;
        };

        storeSelect.attr("disabled", "disabled");
        itemCodeInputText.focus();
    };

    function appendToTable(tranType, storeName, itemCode, itemName, unitName, quantity) {
        var rows = transferGridView.find("tbody tr:not(:last-child)");
        var match = false;
        var html;

        if (transactionTypeSelect.length) {
            rows.each(function () {
                var row = $(this);
                if (window.getColumnText(row, 0) !== tranType &&
                    window.getColumnText(row, 1) === storeName &&
                    window.getColumnText(row, 2) === itemCode) {
                    window.displayMessage("Duplicate entry");

                    window.makeDirty(itemSelect);
                    match = true;
                };

                if (window.getColumnText(row, 0) === tranType &&
                    window.getColumnText(row, 1) === storeName &&
                    window.getColumnText(row, 2) === itemCode &&
                    window.getColumnText(row, 4) === unitName) {
                    window.setColumnText(row, 5, window.getFormattedNumber(window.parseFloat2(window.getColumnText(row, 5)) + quantity));

                    window.addDanger(row);
                    match = true;
                    return;
                }
            });

            if (!match) {
                html = "<tr class='grid2-row'><td>" + tranType + "</td><td>" + storeName + "</td><td>" + itemCode + "</td><td>" + itemName + "</td><td>" + unitName + "</td><td class='text-right'>" + getFormattedNumber(quantity) + "</td>"
                    + "</td><td><a class='pointer' onclick='removeRow($(this));'><i class='ui delete icon'></i></a><a class='pointer' onclick='toggleDanger($(this));'><i class='ui pointer check mark icon'></a></i><a class='pointer' onclick='toggleSuccess($(this));'><i class='ui pointer thumbs up icon'></i></a></td></tr>";
                transferGridView.find("tr:last").before(html);
            };

            return;
        };

        rows.each(function () {
            var row = $(this);
            if (window.getColumnText(row, 0) === storeName &&
                window.getColumnText(row, 1) === itemCode) {
                window.displayMessage("Duplicate Entry");

                window.makeDirty(itemSelect);
                match = true;
            };

            if (window.getColumnText(row, 0) === storeName &&
                window.getColumnText(row, 1) === itemCode &&
                window.getColumnText(row, 3) === unitName) {
                window.setColumnText(row, 4, window.getFormattedNumber(window.parseFloat2(window.getColumnText(row, 4)) + quantity));

                window.addDanger(row);
                match = true;
                return;
            }
        });

        if (!match) {
            html = "<tr class='grid2-row'><td>" + storeName + "</td><td>" + itemCode + "</td><td>" + itemName + "</td><td>" + unitName + "</td><td class='text-right'>" + getFormattedNumber(quantity) + "</td>"
                + "</td><td><a class='pointer' onclick='removeRow($(this));'><i class='ui delete icon'></i></a><a class='pointer' onclick='toggleDanger($(this));'><i class='ui pointer check mark icon'></a></i><a class='pointer' onclick='toggleSuccess($(this));'><i class='ui pointer thumbs up icon'></i></a></td></tr>";
            transferGridView.find("tr:last").before(html);
        };
    };

    saveButton.click(function () {
        function request(model) {
            var url = "/dashboard/inventory/tasks/inventory-transfers";
            var data = JSON.stringify(model);
            return window.getAjaxRequest(url, "POST", data);
        };

        function getModel() {
            function getDetails() {
                var model = [];
                var rows = $("#TransferGridView tbody tr:not(:last-child)");

                $.each(rows, function() {
                    var row = $(this);
                    var transferType = row.find("td:nth-child(1)").html();
                    var storeName = row.find("td:nth-child(2)").html();
                    var itemCode = row.find("td:nth-child(3)").html();
                    var itemName = row.find("td:nth-child(4)").html();
                    var unitName = row.find("td:nth-child(5)").html();
                    var quantity = window.parseFloat2(row.find("td:nth-child(6)").html());

                    model.push({
                        ItemCode: itemCode,
                        ItemName: itemName,
                        Quantity: quantity,
                        StoreName: storeName,
                        TransferTypeEnum: transferType,
                        UnitName: unitName
                    });
                });

                return model;
            };

            var valueDate = window.parseLocalizedDate($("#ValueDateTextBox").val());
            var bookDate = window.parseLocalizedDate($("#BookDateTextBox").val());
            var referenceNumber = $("#ReferenceNumberInputText").val();
            var statementReference = $("#StatementReferenceTextArea").val();
            var details = getDetails();

            if (!window.isDate(valueDate)) {
                window.makeDirty($("#ValueDateTextBox"));
                errorLabel.html("Invalid date!");
                return false;
            };

            if (!window.isDate(bookDate)) {
                window.makeDirty($("#BookDateTextBox"));
                errorLabel.html("Invalid date!");
                return false;
            };

            if (!details || details.length === 0) {
                errorLabel.html("Nothing to transfer!");
                return false;
            };

            return {
                ValueDate: valueDate,
                BookDate: bookDate,
                ReferenceNumber: referenceNumber,
                StatementReference: statementReference,
                Details: details
            };
        };

        

        errorLabel.html("");

        if (transferGridView.find("tr").length === 2) {
            errorLabel.html("Gridview is empty!");
            return false;
        };

        var model = getModel();
        var ajax = request(model);

        ajax.success(function(response) {
            var url = "/dashboard/inventory/tasks/transfers/checklist/" + response;
            document.location = url;
        });

        ajax.fail(function (xhr) {
            window.logAjaxErrorMessage(xhr);
        });
    });

    itemSelect.change(function () {
        itemCodeInputText.val(itemSelect.getSelectedValue());
        loadUnits();
    });

    itemSelect.blur(function () {
        itemCodeInputText.val(itemSelect.getSelectedValue());
        loadUnits();
    });

    itemCodeInputText.blur(function () {
        if (!window.isNullOrWhiteSpace(itemCodeInputText.val())) {
            itemSelect.val(itemCodeInputText.val());
        };
    });

    function loadStores() {
        window.displayFieldBinder(storeSelect, "/api/forms/inventory/stores/display-fields");
    };


    function loadItems() {
        function request() {
            var url = "/dashboard/inventory/items/stockable";
            return window.getAjaxRequest(url);
        };

        var ajax = request();
        ajax.success(function (response) {
            var options = "<option>Select</option>";

            $.each(response, function () {
                var option = "<option value='{key}'>{value}</option>";
                option = option.replace("{key}", this.ItemCode);
                option = option.replace("{value}", this.ItemName);

                options += option;
            });

            itemSelect.html(options);
        });
    };

    function loadUnits() {
        function request(itemCode) {
            var url = "/dashboard/inventory/get-associated-units/{*itemCode}";
            url = url.replace("{*itemCode}", itemCode);

            return window.getAjaxRequest(url);
        };

        var itemCode = itemCodeInputText.val();
        var ajax = request(itemCode);
        ajax.success(function (response) {
            var options = "<option>Select</option>";

            $.each(response, function () {
                var option = "<option value='{key}'>{value}</option>";
                option = option.replace("{key}", this.UnitId);
                option = option.replace("{value}", this.UnitName);

                options += option;
            });

            unitSelect.html(options);
        });
    };

    function removeLoaderInstance() {
        removeLoader(transferGridView);
    };

    //Check if ItemPopup window has updated the hidden field.
    function ajaxDataBindCallBack(targetControl) {
        if (targetControl.is(itemSelect)) {
            var itemId = parseInt(itemIdHidden.val() || 0);

            itemIdHidden.val("");

            if (itemId > 0) {
                var targetControls = $([]);
                targetControls.push(itemCodeInputText);
                targetControls.push(itemSelect);

                url = itemIdQuerySericeUrl;
                data = appendParameter("", "itemId", itemId);
                data = getData(data);

                ajaxUpdateVal(url, data, targetControls);
            }
        };
    };

    shortcut.add("F4", function () {
        url = itemPopupUrl;
        showWindow(url);
    });

    shortcut.add("CTRL+ENTER", function () {
        addButton.trigger('click');
    });

    //$("select").dropdown();
    window.overridePath = "/dashboard/inventory/tasks/inventory-transfers";

    var visible = false;

    $(document).ajaxStop(function () {
        setTimeout(function () {
            if (!visible) {
                visible = true;

                $(".page.segment").fadeIn(300);
            };
        }, 200);
    });
</script>