@model long

@{
    ViewBag.Title = "Opening Inventory";
    Layout = ViewBag.InventoryLayoutPath;
}
<style>
    iframe {
        display: block;
        margin-top: 1em;
        width: 800px;
        height: 800px;
        border: 1px solid #ccc;
    }
</style>
<script src="/Scripts/frapid/utilities/form.js"></script>
<div class="ui attached page segment" style="min-height: 100%; padding: 3em;">
    <div class="ui huge header">Opening Inventory</div>
    <div class="ui divider"></div>

    <div class="ui positive message">The transaction was posted successfully.</div>

    <a href="/dashboard/inventory/setup/opening-inventory" class="ui green button">
        View Opening Inventories
    </a>
    <a href="/dashboard/inventory/setup/opening-inventory/new" class="ui red button">
        Add a New Opening Inventory
    </a>
    <iframe src="/dashboard/reports/source/Areas/MixERP.Inventory/Reports/Opening.xml?transaction_master_id=@Model"></iframe>
</div>


<script>
    window.overridePath = "/dashboard/inventory/setup/opening-inventory";
</script>