@model dynamic

@{
    ViewBag.Title = "Counters";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("Counters");

    scrudFactory.viewAPI = "/api/forms/inventory/counters";
    scrudFactory.viewTableName = "inventory.counters";

    scrudFactory.formAPI = "/api/forms/inventory/counters";
    scrudFactory.formTableName = "inventory.counters";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "CounterName";

    scrudFactory.card = {
        header: "CounterName",
        meta: "CounterCode",
        description: "StoreId"        
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    scrudFactory.keys = [
        {
            property: "StoreId",
            url: '/api/forms/inventory/stores/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>