@model dynamic

@{
    ViewBag.Title = "Units of Measure";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Units of Measure";

    scrudFactory.viewAPI = "/api/forms/inventory/units";
    scrudFactory.viewTableName = "inventory.units";

    scrudFactory.formAPI = "/api/forms/inventory/units";
    scrudFactory.formTableName = "inventory.units";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "UnitName";

    scrudFactory.card = {
        header: "UnitName",
        description: "UnitCode"        
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    //scrudFactory.keys = [
    //    {
    //        property: "CamelCase",
    //        url: '/api/forms/schema/table/display-fields',
    //        data: null,
    //        valueField: "Key",
    //        textField: "Value"
    //    }
    //];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>