@model dynamic

@{
    ViewBag.Title = "Variants";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Variants";

    scrudFactory.viewAPI = "/api/forms/inventory/variants";
    scrudFactory.viewTableName = "inventory.variants";

    scrudFactory.formAPI = "/api/forms/inventory/variants";
    scrudFactory.formTableName = "inventory.variants";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "VariantName";

    scrudFactory.card = {
        header: "VariantName",
        meta: "AttributeId",
        description: "AttributeValue"        
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    scrudFactory.keys = [
        {
            property: "AttributeId",
            url: '/api/forms/inventory/attributes/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>